@font-face{
    font-family: 'HankenGrotesk';
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
} 
body{
    font-family: 'HankenGrotesk';
    background-color: hsl(241, 100%, 89%);
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
}
.container{
    display: flex; 
}

p{
    font-size: 1.125rem; 
}
.result{
    background: linear-gradient(180deg,hsla(252, 100%, 67%, 0.993),hsla(241, 81%, 54%, 0.993));
    width: 18.75rem; 
    padding: 2.5em 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:hsl(241, 100%, 89%) ;
    gap: 1.5rem;
    border-radius: 1.2rem; 
    z-index: 1;
}
.result>:first-child{
    font-size: 1.5rem;
    color: hsl(241, 100%, 89%); 
} 
.result h2{
    color: hsl(0, 0%, 100%);
}
.result p{
    text-align: center;
}
.outer{
    background: linear-gradient(180deg,hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    width: 9.375rem;
    height: 9.375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.outer>:first-child{
    font-size: 4rem;
    font-weight: 800;
    color: hsl(0, 0%, 100%);
}


.summary{
    position: relative;
    width: 21.875rem;
    background-color:hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    border-radius:0 1.2rem 1.2rem 0;
    padding: 2em 2em 2.5em 3.5em;
    margin-left:-1em ;
}
.summary>div{
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    margin-bottom: 1em; 
    padding: 0.7em;
    border-radius: 6px;
    font-weight: 600;
}
.summary>div>div{
    display: flex; 
    gap: 0.6rem;
    
}
.summary h2{
    padding-bottom: 0.6em;
}
.reaction{
    color:hsl(0, 100%, 67%) ;
    background-color: hsla(39, 100%, 56%, 0.123);
}

.memory{
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 0.185);
}
.verbal{
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 0.11);
}
.visual{
    background-color: hsla(224, 30%, 27%, 0.068);
}

.summary .grey{
    color: hsla(224, 30%, 27%, 0.63);
}
.summary .black{
    color: #000;
}

.btn{
    font-family: inherit;
    padding: 0.7em;
    border-radius: 3.125rem;
    background-color: hsl(234, 85%, 45%);
    color: hsl(0, 0%, 100%);
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 0.5em;
    border: none;
}
 .btn:hover,
 .btn:hover{
    cursor: pointer;
    background-color: hsla(241, 81%, 54%, 0.993);
 }


@media screen and (max-width: 42.75rem) {
    .container{
        flex-direction: column;
    }
    .result{
        margin-bottom: -0.8em;
        margin-top: 0.2em; 
        width: 21.875rem;
    }
    .summary{
        border-radius: 0;
        margin-bottom: 0.2em;
        width: 21.875rem;
        margin-left: 0;
    }
}
@media screen and (max-width: 22.8125rem) { 
    .result{ 
        width: 18.75rem;
    }
    .summary{ 
        width: 18.75rem;
    }
}


/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */